@page
@model back_courrier.Pages.DashboardModel
@{
    ViewData["Title"] = "Tableau de bord";
}

<h1>Tableau de bord</h1>

@if (ViewData.ModelState.Any())
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <span>@error.ErrorMessage</span>
            <br />
        }
    </div>
}

<div class="row">
    <div class="col-sm-6">
        <div class="card" >
            <div class="card-header">
                Courrier par flag
            </div>
            <div class="card-body" style="height: 500px">
                <canvas id="courrierByFlag" ></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Courrier par département 
            </div>
            <div class="card-body" style="height: 500px">
                <canvas id="courrierByDepartement"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/js/chart.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@
<script type="text/javascript">
    let data = @Html.Raw(Json.Serialize(Model.CourriersByFlag));
    console.log("data: "+data);
    let labels = Object.keys(data);
    console.log("labels: " + labels);
    let values = Object.values(data);
    console.log("values: " + values);

    let chartData = {
        labels: labels,
        datasets: [{
            data: values,
            label: 'Courrier par Flag',
            backgroundColor: [
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(255, 99, 132)'
            ], 
            borderWidth: 1
        }]
    };

    let ctx = document.getElementById('courrierByFlag').getContext('2d');
    new Chart(ctx, {
        type: 'pie',
        data: chartData,
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });

    let dataDepartement = @Html.Raw(Json.Serialize(Model.CourriersByDestinataire));
    console.log("dataDepartement: " + dataDepartement);
    let labelsDepartement = Object.keys(dataDepartement);
    console.log("labels: " + dataDepartement);
    let valuesDepartement = Object.values(dataDepartement);
    console.log("values: " + dataDepartement);

    let chartDataDepartement = {
        labels: labelsDepartement,
        datasets: [{
            data: values,
            label: 'Courrier par Département',
            backgroundColor: [
                'rgb(54, 162, 235)',
                'rgb(75, 192, 192)',
                'rgb(255, 205, 86)'
            ], // Customize the colors as needed
            borderWidth: 1
        }]
    };

    let ctxDepartement = document.getElementById('courrierByDepartement').getContext('2d');
    new Chart(ctxDepartement, {
        type: 'bar',
        data: chartDataDepartement,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
