@page
@model back_courrier.Pages.IndexModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (ViewData.ModelState.Any())
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <span>@error.ErrorMessage</span>

            <br />
        }
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" value="receptionniste" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <label asp-for="MotDePasse"></label>
        <input asp-for="MotDePasse" value="1234" type="password" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
